<!DOCTYPE html>
<html>
  <head>
    <title>Chatbot</title>
    <link
      rel="stylesheet"
      type="Text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <img
        src="static/img/logo.jpeg"
        alt="Gliders India Limited Logo"
        id="logo"
      />
      <h1>Gliders India Limited</h1>
    </header>
    <div class="container">
      <h2>Chatbot Interface</h2>
      <form action="/chatbot" method="POST">
        <label for="message">Enter your question:</label><br />
        <input type="text" id="message" name="message" required /><br /><br />
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" onclick="resetResponse()" />
      </form>
      <div id="response"></div>
    </div>

    <!--- JavaScript here -->
    <script>
      document.querySelector("form").onsubmit = async (e) => {
        e.preventDefault();
        const message = document.getElementById("message").value;
        const response = await fetch("/chatbot", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ message: message }),
        });
        const data = await response.json();
        document.getElementById("response").innerText = data.response;
      };
      function resetResponse() {
        document.getElementById("response").innerText = "";
      }
    </script> 
  </body>
</html>
